<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Wyvern</title>
    <link rel="stylesheet" href="../static/styles_character.css">
</head>
<body>
    <header>
        <section class="title">
            <h1> Wyvern </h1>
            <h2> Character Sheet </h2>
        </section>
        <section class="character-name">
            <h1>Character name</h1>
        </section>
        <section class="general-info">
            <h2> Name Class Background <br> Race Alignment Experience</h2>
        </section>
        <section class="states">
            <h2> States </h2>
        </section>
        <section class="options">
            <h2> Options </h2>
        </section>
    </header>

    <main class="flex-container">
        <section class="section-1">
            <div class="section-block block-rolls">
                <div class="block-header"> Rolls </div>
            </div>
        </section>

        <section class="section-2">
            <div class="section-block block-abilities">
                <div class="block-header"> Abilities </div>
                <div class="block-body">
                    <div class="section-block ability-field">
                        STR
                        <div class="ability-modifier">
                            +3
                        </div>
                        <div class="ability-score">
                            16
                        </div>
                    </div>
                    <div class="section-block ability-field">
                        STR
                        <div class="ability-modifier">
                            +3
                        </div>
                        <div class="ability-score">
                            16
                        </div>
                    </div>
                    <div class="section-block ability-field">
                        STR
                        <div class="ability-modifier">
                            +3
                        </div>
                        <div class="ability-score">
                            16
                        </div>
                    </div>
                    <div class="section-block ability-field">
                        STR
                        <div class="ability-modifier">
                            +3
                        </div>
                        <div class="ability-score">
                            16
                        </div>
                    </div>
                    <div class="section-block ability-field">
                        STR
                        <div class="ability-modifier">
                            +3
                        </div>
                        <div class="ability-score">
                            16
                        </div>
                    </div>
                    <div class="section-block ability-field">
                        STR
                        <div class="ability-modifier">
                            +3
                        </div>
                        <div class="ability-score">
                            16
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-3">
            <div class="section-block block-prof-bonus">
                <div class="block-header"> Proficiency bonus </div>
            </div>
            <div class="section-block block-saving-throws">
                <div class="block-header"> Saving throws </div>
            </div>
            <div class="section-block block-skills">
                <div class="block-header"> Skills </div>
            </div>
        </section>

        <section class="section-4">
            <div class="section-block block-health">
                <div class="row">
                    <div class="section-block block-armor-class">
                        <div class="block-header"> Armor class</div>
                    </div>
                    <div class="section-block block-initiative">
                        <div class="block-header"> Initiative </div>
                    </div>
                    <div class="section-block block-speed">
                        <div class="block-header"> Speed </div>
                    </div>
                </div>
                <div class="row">
                    <div class="section-block block-current-hit-points ">
                        <div class="block-header"> Current hit points </div>
                    </div>
                    <div class="section-block block-temporary-hit-points">
                        <div class="block-header"> Temporary hit points </div>
                    </div>
                </div>
                <div class="row">
                    <div class="section-block block-hit-dice" >
                        <div class="block-header"> Hit dice </div>
                    </div>
                    <div class="section-block block-death-saves">
                        <div class="block-header"> Death saves </div>
                    </div>
                </div>
            </div>
            <div class="section-block block-attack">
                <div class="block-header"> Attacks </div>
            </div>
            <div class="section-block block-passive-perception">
                <div class="block-header"> Passive perception </div>
            </div>
        </section>

        <section class="section-5">
            <div class="section-block block-inventory">
                <div class="block-header"> Inventory </div>
            </div>
            <div class="section-block block-features">
                <div class="block-header"> Features </div>
            </div>
        </section>

    </main>
</body>
</html>
