<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Wyvern</title>
    <link rel="stylesheet" href="../static/styles_character.css">
</head>
<body>
    <header>
        <section class="title">
            <a href = "/">
                <h1> Wyvern </h1>
                <h2> Character Sheet </h2>
            </a>
        </section>
        <section class="character-name">
            <div class="section-block">
                <div class="block-header"> Name </div>
                <div class="block-body">
                    <input type="text" id="characterName" class="character-name-input" placeholder="Enter character name">
                </div>
            </div>
        </section>
        <section class="general-info">
            <div class="row">
                <div class="section-block">
                    <div class="block-header"> Class </div>
                    <div class="block-body">
                        <input type="text" id="characterClass" class="character-class-input" placeholder="Enter class">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="section-block">
                    <div class="block-header"> Class </div>
                    <div class="block-body">
                        <input type="text" id="characterClass" class="character-class-input" placeholder="Enter class">
                    </div>
                </div>
            </div>
{#            <h2> Name Class Background <br> Race Alignment Experience</h2>#}
        </section>
        <section class="states">
            <h2> States </h2>
        </section>
        <section class="options">
            <h2> Options </h2>
        </section>
    </header>

    <main class="flex-container">
        <section class="section-1">
            <div class="section-block block-notes">
                <div class="block-header"> Notes </div>
                <div class="block-body">
                    <textarea placeholder="Place for your notes"></textarea>
                </div>
            </div>
        </section>

        <section class="section-2">
            <div class="section-block">
                <div class="block-header"> Abilities </div>
                <div class="block-body">
                    <div class="section-block ability-field">
                        STR
                        <div class="ability-modifier">
                            +3
                        </div>
                        <input type="number" id="strengthScore" class="ability-score-input" value = 16>
                    </div>
                    <div class="section-block ability-field">
                        DEX
                        <div class="ability-modifier">
                            +3
                        </div>
                        <input type="number" id="dexterityScore" class="ability-score-input" value = 16>
                    </div>
                    <div class="section-block ability-field">
                        CON
                        <div class="ability-modifier">
                            +3
                        </div>
                        <input type="number" id="constitutionScore" class="ability-score-input" value = 16>
                    </div>
                    <div class="section-block ability-field">
                        WIS
                        <div class="ability-modifier">
                            +3
                        </div>
                        <input type="number" id="wisdomScore" class="ability-score-input" value = 16>
                    </div>
                    <div class="section-block ability-field">
                        INT
                        <div class="ability-modifier">
                            +3
                        </div>
                        <input type="number" id="intelligenceScore" class="ability-score-input" value = 16>
                    </div>
                    <div class="section-block ability-field">
                        CHA
                        <div class="ability-modifier">
                            +3
                        </div>
                        <input type="number" id="charismaScore" class="ability-score-input" value = 16>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-3">
            <div class="section-block block-prof-bonus">
                <div class="block-header"> Proficiency bonus </div>
            </div>
            <div class="section-block block-saving-throws">
                <div class="block-header"> Saving throws </div>
            </div>
            <div class="section-block block-skills">
                <div class="block-header"> Skills </div>
            </div>
        </section>

        <section class="section-4">
            <div class="section-block block-health">
                <div class="row">
                    <div class="section-block block-armor-class">
                        <div class="block-header"> Armor class</div>
                    </div>
                    <div class="section-block block-initiative">
                        <div class="block-header"> Initiative </div>
                    </div>
                    <div class="section-block block-speed">
                        <div class="block-header"> Speed </div>
                    </div>
                </div>
                <div class="row">
                    <div class="section-block block-current-hit-points ">
                        <div class="block-header"> Current hit points </div>
                    </div>
                    <div class="section-block block-temporary-hit-points">
                        <div class="block-header"> Temporary hit points </div>
                    </div>
                </div>
                <div class="row">
                    <div class="section-block block-hit-dice" >
                        <div class="block-header"> Hit dice </div>
                    </div>
                    <div class="section-block block-death-saves">
                        <div class="block-header"> Death saves </div>
                    </div>
                </div>
            </div>
            <div class="section-block block-attack">
                <div class="block-header"> Attacks </div>
            </div>
            <div class="section-block block-passive-perception">
                <div class="block-header"> Passive perception </div>
            </div>
        </section>

        <section class="section-5">
            <div class="section-block block-inventory">
                <div class="block-header"> Inventory </div>
                <div class="block-body">
                    <textarea placeholder="Items in your inventory"></textarea>
                </div>
            </div>
            <div class="section-block block-features">
                <div class="block-header"> Features </div>
                <div class="block-body">
                    <textarea placeholder="Your character's features"></textarea>
                </div>
            </div>
        </section>

    </main>
</body>
</html>
