<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Wyvern</title>
    <link rel="stylesheet" href="../static/styles_character.css">
</head>
<body>
    <header>
        <section class="title-section">
            <div class="section-block title">
                <a href = "/">
                    <h1> Wyvern </h1>
                    <h2> Character Sheet </h2>
                </a>
            </div>
        </section>
        <section class="name-section">
            <div class="section-block">
                <div class="block-header"> Name </div>
                <div class="block-body">
                    <input type="text" id="character-name" class="character-name-input" placeholder="Enter character name">
                </div>
            </div>
        </section>
        <section class="general-info-section">
            <div class="section-block">
                <div class="row">
                    <div class="section-block character-class">
                        <div class="block-header"> Class </div>
                        <div class="block-body">
                            <input type="text" id="character-class" class="character-class-input" placeholder="Enter class">
                        </div>
                    </div>
                    <div class="section-block character-race">
                        <div class="block-header"> Race </div>
                        <div class="block-body">
                            <input type="text" id="character-race" class="character-race-input" placeholder="Enter race">
                        </div>
                    </div>
                    <div class="section-block character-level">
                        <div class="block-header"> Level </div>
                        <div class="block-body">
                            <input type="number" id="character-level" class="character-level-input" placeholder="Enter level">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="section-block character-background">
                        <div class="block-header">Background</div>
                        <div class="block-body">
                            <input type="text" id="character-background" class="character-background-input" placeholder="Enter background">
                        </div>
                    </div>
                    <div class="section-block character-alignment">
                        <div class="block-header">Alignment</div>
                        <div class="block-body">
                            <input type="text" id="character-alignment" class="character-alignment-input" placeholder="Enter alignment">
                        </div>
                    </div>
                    <div class="section-block character-experience">
                        <div class="block-header">Experience</div>
                        <div class="block-body">
                            <input type="number" id="character-experience" class="character-experience-input" placeholder="Enter experience">
                        </div>
                    </div>
                </div>
            </div>

            {#            <h2> Name Class Background <br> Race Alignment Experience</h2>#}
        </section>
        <section class="states-section">
            <div class="section-block states">
                <div class="block-header"> States </div>
                <div class="block-body">
                    <textarea placeholder="Active states"></textarea>
                </div>
            </div>
        </section>
        <section class="options-section">
            <div class="section-block options">
                <div class="block-header"> Options </div>
                <div class="block-body">
                    <a href="/download-character"> <button id="download-character-button"> Save Character</button></a>
                    <a href="/upload-character"> <button id="upload-character-button">Upload Character</button></a>
                    <a> <button id="help-button"> Help </button></a>
                </div>
            </div>
        </section>
    </header>

    <main class="flex-container">
        <section class="section-1">
            <div class="section-block block-notes">
                <div class="block-header"> Notes </div>
                <div class="block-body">
                    <textarea id="notes" placeholder="Place for your notes"></textarea>
                </div>
            </div>
        </section>

        <section class="section-2">
            <div class="section-block">
                <div class="block-header"> Abilities </div>
                <div class="block-body">
                    <div class="section-block ability-field">
                        STR
                        <div id="strength-modifier" class="ability-modifier">
                            _
                        </div>
                        <input type="number" id="strength-score" class="ability-score-input" value="_">
                    </div>
                    <div class="section-block ability-field">
                        DEX
                        <div id="dexterity-modifier" class="ability-modifier">
                            _
                        </div>
                        <input type="number" id="dexterity-score" class="ability-score-input" value="_">
                    </div>
                    <div class="section-block ability-field">
                        CON
                        <div id="constitution-modifier" class="ability-modifier">
                            _
                        </div>
                        <input type="number" id="constitution-score" class="ability-score-input" value="_">
                    </div>
                    <div class="section-block ability-field">
                        WIS
                        <div id="wisdom-modifier" class="ability-modifier">
                            _
                        </div>
                        <input type="number" id="wisdom-score" class="ability-score-input" value="_">
                    </div>
                    <div class="section-block ability-field">
                        INT
                        <div id="intelligence-modifier" class="ability-modifier">
                            _
                        </div>
                        <input type="number" id="intelligence-score" class="ability-score-input" value="_">
                    </div>
                    <div class="section-block ability-field">
                        CHA
                        <div id="charisma-modifier" class="ability-modifier">
                            _
                        </div>
                        <input type="number" id="charisma-score" class="ability-score-input" value="_">
                    </div>
                </div>
            </div>
        </section>

        <section class="section-3">
            <div class="section-block block-prof-bonus">
                <div class="block-prefix">
                    <div>Proficiency bonus: </div>
                    <div id="prof-bonus"> _ </div>
                </div>
            </div>
            <div class="section-block block-saving-throws">
                <div class="block-header"> Saving throws </div>
                <div class="block-body">
                    <div class="section-block saving-throw">
                        <input type="checkbox" id="strength-saving-throw-prof" class="saving-throw-prof">
                        <p id="strength-saving-throw-name"> Strength:  </p>
                        <p id="strength-saving-throw-bonus"> _ </p>
                    </div>
                    <div class="section-block saving-throw">
                        <input type="checkbox" id="dexterity-saving-throw-prof" class="saving-throw-prof">
                        <p id="dexterity-saving-throw-name"> Dexterity:  </p>
                        <p id="dexterity-saving-throw-bonus"> _ </p>
                    </div>
                    <div class="section-block saving-throw">
                        <input type="checkbox" id="constitution-saving-throw-prof" class="saving-throw-prof">
                        <p id="constitution-saving-throw-name"> Constitution:  </p>
                        <p id="constitution-saving-throw-bonus"> _ </p>
                    </div>
                    <div class="section-block saving-throw">
                        <input type="checkbox" id="intelligence-saving-throw-prof" class="saving-throw-prof">
                        <p id="intelligence-saving-throw-name"> Intelligence:  </p>
                        <p id="intelligence-saving-throw-bonus"> _ </p>
                    </div>
                    <div class="section-block saving-throw">
                        <input type="checkbox" id="wisdom-saving-throw-prof" class="saving-throw-prof">
                        <p id="wisdom-saving-throw-name"> Wisdom:  </p>
                        <p id="wisdom-saving-throw-bonus"> _ </p>
                    </div>
                    <div class="section-block saving-throw">
                        <input type="checkbox" id="charisma-saving-throw-prof" class="saving-throw-prof">
                        <p id="charisma-saving-throw-name"> Charisma:  </p>
                        <p id="charisma-saving-throw-bonus"> _ </p>
                    </div>
                </div>
            </div>
            <div class="section-block block-skills">
                <div class="block-header"> Skills </div>
                <div class="block-body">
                    <div class="section-block skill">
                        <input type="checkbox" id="acrobatics-skill-prof" class="skill-prof">
                        <p id="acrobatics-skill-name"> Acrobatics:  </p>
                        <p id="acrobatics-skill-bonus"> _ </p>
                    </div>
                    <div class="section-block skill">
                        <input type="checkbox" id="animal-handling-skill-prof" class="skill-prof">
                        <p id="animal-handling-skill-name"> Animal Handling:  </p>
                        <p id="animal-handling-skill-bonus"> _ </p>
                    </div>
                    <div class="section-block skill">
                        <input type="checkbox" id="arcana-skill-prof" class="skill-prof">
                        <p id="arcana-skill-name"> Arcana:  </p>
                        <p id="arcana-skill-bonus"> _ </p>
                    </div>
                    <div class="section-block skill">
                        <input type="checkbox" id="athletics-skill-prof" class="skill-prof">
                        <p id="athletics-skill-name"> Athletics:  </p>
                        <p id="athletics-skill-bonus"> _ </p>
                    </div>
                    <div class="section-block skill">
                        <input type="checkbox" id="deception-skill-prof" class="skill-prof">
                        <p id="deception-skill-name"> Deception:  </p>
                        <p id="deception-skill-bonus"> _ </p>
                    </div>
                    <div class="section-block skill">
                        <input type="checkbox" id="history-skill-prof" class="skill-prof">
                        <p id="history-skill-name"> History:  </p>
                        <p id="history-skill-bonus"> _ </p>
                    </div>
                    <div class="section-block skill">
                        <input type="checkbox" id="insight-skill-prof" class="skill-prof">
                        <p id="insight-skill-name"> Insight:  </p>
                        <p id="insight-skill-bonus"> _ </p>
                    </div>
                    <div class="section-block skill">
                        <input type="checkbox" id="intimidation-skill-prof" class="skill-prof">
                        <p id="intimidation-skill-name"> Intimidation:  </p>
                        <p id="intimidation-skill-bonus"> _ </p>
                    </div>
                    <div class="section-block skill">
                        <input type="checkbox" id="investigation-skill-prof" class="skill-prof">
                        <p id="investigation-skill-name"> Investigation:  </p>
                        <p id="investigation-skill-bonus"> _ </p>
                    </div>
                    <div class="section-block skill">
                        <input type="checkbox" id="medicine-skill-prof" class="skill-prof">
                        <p id="medicine-skill-name"> Medicine:  </p>
                        <p id="medicine-skill-bonus"> _ </p>
                    </div>
                    <div class="section-block skill">
                        <input type="checkbox" id="nature-skill-prof" class="skill-prof">
                        <p id="nature-skill-name"> Nature:  </p>
                        <p id="nature-skill-bonus"> _ </p>
                    </div>
                    <div class="section-block skill">
                        <input type="checkbox" id="perception-skill-prof" class="skill-prof">
                        <p id="perception-skill-name"> Perception:  </p>
                        <p id="perception-skill-bonus"> _ </p>
                    </div>
                    <div class="section-block skill">
                        <input type="checkbox" id="performance-skill-prof" class="skill-prof">
                        <p id="performance-skill-name"> Performance:  </p>
                        <p id="performance-skill-bonus"> _ </p>
                    </div>
                    <div class="section-block skill">
                        <input type="checkbox" id="persuasion-skill-prof" class="skill-prof">
                        <p id="persuasion-skill-name"> Persuasion:  </p>
                        <p id="persuasion-skill-bonus"> _ </p>
                    </div>
                    <div class="section-block skill">
                        <input type="checkbox" id="religion-skill-prof" class="skill-prof">
                        <p id="religion-skill-name"> Religion:  </p>
                        <p id="religion-skill-bonus"> _ </p>
                    </div>
                    <div class="section-block skill">
                        <input type="checkbox" id="sleight-of-hand-skill-prof" class="skill-prof">
                        <p id="sleight-of-hand-skill-name"> Sleight of Hand:  </p>
                        <p id="sleight-of-hand-skill-bonus"> _ </p>
                    </div>
                    <div class="section-block skill">
                        <input type="checkbox" id="stealth-skill-prof" class="skill-prof">
                        <p id="stealth-skill-name"> Stealth:  </p>
                        <p id="stealth-skill-bonus"> _ </p>
                    </div>
                    <div class="section-block skill">
                        <input type="checkbox" id="survival-skill-prof" class="skill-prof">
                        <p id="survival-skill-name"> Survival:  </p>
                        <p id="survival-skill-bonus"> _ </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-4">
            <div class="section-block block-health">
                <div class="block-body">
                    <div class="row">
                        <div class="section-block block-armor-class">
                            <div class="block-header">Armor class</div>
                            <div class="block-body">
                                <input type="text" id="armor-class" class="armor-class-input" placeholder="Enter armor class">
                            </div>
                        </div>
                        <div class="section-block block-initiative">
                            <div class="block-header">Initiative</div>
                            <div class="block-body">
                                <input type="text" id="initiative" class="initiative-input" placeholder="Enter initiative">
                            </div>
                        </div>
                        <div class="section-block block-speed">
                            <div class="block-header">Speed</div>
                            <div class="block-body">
                                <input type="text" id="speed" class="speed-input" placeholder="Enter speed">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="section-block block-hit-points">
                            <div class="block-header">Hit points</div>
                            <div class="block-body">
                                <input type="text" id="current-hit-points" class="hit-points-input" placeholder="Enter current hit points">
                                <h1> / </h1>
                                <input type="text" id="max-hit-points" class="hit-points-input" placeholder="Enter max hit points">
                            </div>
                        </div>
                        <div class="section-block block-temporary-hit-points">
                            <div class="block-header">Temporary hit points</div>
                            <div class="block-body">
                                <input type="text" id="temporary-hit-points" class="temporary-hit-points-input" placeholder="Enter temporary hit points">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="section-block block-hit-dice">
                            <div class="block-header">Hit dice</div>
                            <div class="block-body">
                                <div class="row">
                                    <input type="number" id="current-hit-dices-amount" class="hit-dice-input" placeholder="Enter current hit dice amount">
                                    <h1> / </h1>
                                    <h1 id="max-hit-dices-amount"></h1>
                                </div>
                            </div>
                        </div>
                        <div class="section-block block-death-saves">
                            <div class="block-header">Death saves</div>
                            <div class="block-body">
                                <div class="block-prefix">
                                    <div> Successful: </div>
                                    <input type="number" id="successful-death-saves" class="death-saves-input" placeholder=0>
                                </div>
                                <div class="block-prefix">
                                    <div> Failed: </div>
                                    <input type="number" id="failed-death-saves" class="death-saves-input" placeholder=0>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-block block-attack">
                <div class="block-header">Attacks</div>
                <div class="block-body">
                    <div class="section-block attack">
                        <input type="text" id="attack-name" value="Long sword">
                        <input type="number" id="attack-bonus" value="5">
                        <input type="text" id="attack-damage" value="1d10+3 ">
                    </div>
                    <div class="section-block attack">
                        <input type="text" id="attack-name" value="Bow">
                        <input type="number" id="attack-bonus" value="5">
                        <input type="text" id="attack-damage" value="1d8+3 ">
                    </div>
                </div>
            </div>
            <div class="section-block block-passive-perception">
                <div class="block-prefix">
                    <div>Passive perception: </div>
                    <div id="passive-perception"> _ </div>
                </div>
            </div>
        </section>
        <section class="section-5">
            <div class="section-block block-inventory">
                <div class="block-header"> Inventory </div>
                <div class="block-body">
                    <textarea id="inventory" placeholder="Items in your inventory"></textarea>
                </div>
            </div>
            <div class="section-block block-features">
                <div class="block-header"> Features </div>
                <div class="block-body">
                    <textarea id="features" placeholder="Your character's features"></textarea>
                </div>
            </div>
        </section>
    </main>

    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/character_sheet.js') }}"></script>
    <script src="{{ url_for('static', filename='js/local_storage.js') }}"></script>
</body>
</html>
