<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Wyvern </title>
    <link rel="stylesheet" href="../static/styles_home.css">
</head>
<body>
    <header>
        <h1> Wyvern</h1>
        <h2> Character Creator</h2>
    </header>
    <section>
        <ul>
            <li><a><button> Create character </button></a></li>
            <li><a><button> Upload character </button></a></li>
            <li><a href = "/character_sheet"><button> Current character </button></a></li>
        </ul>

    </section>

</body>
</html>