body{
    background-color: saddlebrown;
    color: #39220f;
    text-align: center;
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
}

/* ---------Flex header sections---------*/

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: saddlebrown;
    text-align: center;
    height: 120px;
    margin: 0;
    padding: 0;
}

/* ---------Header section blocks---------*/

.title-section{
    width: 15%;
}

.title{
    color: saddlebrown;
    font-family: Copperplate, Papyrus, fantasy;
}
.title h1 {
    font-size: 200%;
    margin: 0;
}

.title h2 {
    font-size: 150%;
    margin: 0;
}

.name-section{
    width: 15%;

}
    .character-name-input{
        font-size: 120%;
        height: 70%;
        text-align: center;
    }

.general-info-section{
    width: 40%
}

    .character-class,
    .character-race,
    .character-level{
        height: 100%;
    }

    .character-background,
    .character-alignment,
    .character-experience{
        height: 100%;
    }

.states-section{
    width: 15%
}

.options-section{
    width: 10%
}


/*---------Other----------*/
a {
    text-decoration: none;
    color: saddlebrown;
}

textarea{
    width: 100%;
    height: 100%;
    resize: none;
    font-size: 16px;
    font-family: "Book Antiqua";
    background-color: transparent;
    border: none;
}

input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
    appearance: textfield; /* Other modern browsers */

    border: none;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    font-family: "Times New Roman";
}
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }

input[type="text"]{
    width: 100%;
    resize: none;
    font-family: "Book Antiqua";
    font-weight: bold;
    background-color: transparent;
    border: none;
}

/* ---------Flex-container sections---------*/

.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    margin:0;
    padding: 0;
}

section{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-right: 6px;
    padding: 3px;
}

.section-1{
    width: 15%;
}

.section-2{
    width: 7%;
}

.section-3{
    width: 15%;
}

.section-4{
    width: 25%;
}

.section-5{
    width: 33%;
}

/* ---------Section block template--------- */
.section-block{
    background-color: antiquewhite;
    border: 3px double grey;
    border-radius: 10px;
    overflow: hidden;
    padding: 3px;
    width: 100%;
    flex-grow: 1;
}

.block-header{
    border-bottom: 1px solid grey;
    font-size: 90%;
    font-style: italic;
    color: saddlebrown;
    margin-bottom: 3px;
}

.block-prefix{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 90%;
    font-style: italic;
    color: saddlebrown;
    margin-right: 3px;
}

.block-body{
    height: 97%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    width: 100%;
}

/* ---------Section 1 blocks---------*/

.block-notes{
}

/* ---------Section 2 blocks--------- */
.ability-field{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 0.6vh;
    height: 11vh;
    width: 80%;
}
    .ability-modifier{
        font-size: 190%;
        width: 100%;
        border-top: 1px solid grey;
        border-bottom: 1px solid grey;
    }
    .ability-score-input{
        font-size: medium;
        width: 30%;
    }

/* ---------Section 3 blocks--------- */

.block-prof-bonus{
    height: 3%;
    flex-direction: row;
    align-content: center;
}

.block-saving-throws{
    height: 25%;
    max-height: 25vh;
}
.block-saving-throws .block-body{
    flex-grow: unset;
    height: 90%;
}
    .saving-throw{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: small;
        width: 95%;
    }

.block-skills{
    height: 65%;
    max-height: 70vh;
}

.block-skills .block-body{
    overflow: hidden;
    justify-content: center;
}
    .skill{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: small;
        width: 95%;
    }

/* ---------Section 4 blocks--------- */
.block-health{
}
    .block-armor-class,
    .block-initiative,
    .block-speed{
        height: 100%;
    }

    .block-current-hit-points,
    .block-temporary-hit-points{
        height: 100%;
    }

    .block-hit-dice,
    .block-death-saves{
        height: 100%;
    }

    .armor-class-input,
    .initiative-input,
    .speed-input,
    .current-hit-points-input,
    .temporary-hit-points-input,
    .hit-dice-input,
    .death-saves-input {
        height: 70%;
    }


.block-attack{
    flex-grow: 1.3;
}
.block-attack .block-body{
    margin-left: 10px;
    margin-right: 10px;

}
    .attack{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        max-height: 5vh;
    }
    .attack input[type="number"]{
        width: 20%;
    }
    .attack input[type="text"]{
        text-align: center;
        background-color: white;
        border-radius: 5px;
        width: 30%
    }

.block-passive-perception{
    flex-grow: 0.1;
    height: 5%;
    flex-direction: row;
    align-content: center;
}

/* ---------Section 5 blocks--------- */
.block-inventory{
    height: 50%;
}

.block-features{
    height: 50%;
}




